requests == 2.31.0
cartesi_wallet == 0.0.4
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/contourpy-1.2.0-cp310-cp310-linux_riscv64.whl
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/kiwisolver-1.4.5-cp310-cp310-linux_riscv64.whl
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/ninja-1.11.1.1-cp310-cp310-linux_riscv64.whl
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/numpy-1.26.2-cp310-cp310-linux_riscv64.whl
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/matplotlib-3.8.1-cp310-cp310-linux_riscv64.whl
https://raw.githubusercontent.com/think-and-dev/riscv-python-wheels/main/wheels/Pillow-9.0.1-cp310-cp310-linux_riscv64.whl